.hint-icon {
    background: #0073aa;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    padding: 8px;
}

.tooltip1 {
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.tooltip1 .hint-icon {
    margin:0;
    padding:0;
}

.description1 {
    display: none;
    position: absolute;
    padding: 10px;
    font-size: 12px;
    line-height: 1.6em;
    color: #fff;
    border-radius: 5px;
    background: #000;
    width: 100px;
    z-index: 10;
}

.description1:before {
    content: "";
    position: absolute;
    top: 0%;
    right: 95%;
    border: 15px solid transparent;
    border-top: 15px solid #000;
    margin-left: -15px;
    transform: rotateZ(90deg);
}

.tooltip1:hover .description1 {
    display: inline-block;
    top: 0px;
    left: 80px;
}