.acf-input {
    position: static!important;
}

.hint-btn {
    margin-bottom: 10px!important;
    position: absolute;
    top: 0;
    right: 0;
}

.hint-icon {
    cursor: pointer;
    display: inline-block;
    /* 追記部分 */
    /* position: absolute;
    top: 0;
    right: 0; */
}

.tooltip1 {
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin:0;
    padding:0;
}

.description1 {
    display: none;
    position: absolute;
    padding: 10px;
    font-size: 12px;
    line-height: 1.6em;
    color: #fff;
    border-radius: 5px;
    background: #000;
    width: 100px;
    z-index: 10;
}

.description1:before {
    content: "";
    position: absolute;
    top: 0%;
    right: 95%;
    border: 15px solid transparent;
    border-top: 15px solid #000;
    margin-left: -15px;
    transform: rotateZ(90deg);
}

.tooltip1:hover .description1 {
    display: inline-block;
    top: 0px;
    left: 80px;
}

.hint-text,
.hint-text * {
    margin: 0.6em 0;
}

.acf-field {
    position: relative;
}

.click-toggle-hint-text {
    background: #62bfe4;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.dashicons-editor-help:before {
    font-size: 23px;
}
