/* styles for ACF  */
.acf-fields.-left > .acf-field > .acf-input {
    display: flex;
    flex-direction: column;
}

/* styles for this plugin below */
.tooltip1 {
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.hint-icon {
    cursor: pointer;
    display: inline-block;
    color: #61a9d0;
    vertical-align: bottom;
}

.description1 {
    display: none;
    position: absolute;
    padding: 10px;
    font-size: 12px;
    line-height: 1.6em;
    color: #fff;
    border-radius: 5px;
    background: #000;
    width: 200px;
    z-index: 10;
    word-wrap: break-word;
}

.description1:before {
    content: "";
    position: absolute;
    top: 1%;
    right: 98%;
    border: 15px solid transparent;
    border-top: 15px solid #000;
    margin-left: -15px;
    transform: rotateZ(90deg);
}

.tooltip1:hover .description1 {
    display: inline-block;
    top: -8px;
    left: 33px;
}

.dashicons-editor-help:before {
    font-size: 23px;
}

.click-toggle-hint-text {
    border-radius: 3px;
    padding: 4px 8px;
    background: #bbe7f5;
    margin: 20px 0 10px;
    word-wrap: break-word;
}

.hint-btn.in-repeater-table {
    padding: 0.13em 0.7em;
    border-width: 1px;
    margin-top: 2px;
}

/* controll repeater field */
.acf-row:not(:first-of-type) .btn-area {
    display: none;
}

.btn-area {
    display: inline-flex;
    float: right;
}

.btn-area.show .btn-text {
    color: #61a9d0;
}

.hint-btn {
    line-height: 16px;
    letter-spacing: 0;
    text-align: center;
    font-size: 12px;
    position: relative;
    width: 35px;
    background: #fff;
    display: inline-block;
    margin-left: 3px;
    box-sizing: border-box;
    height: 18px;
    border: 1px solid #aaaaaa;
    border-radius: 15px;
}

/* .hint-btn input[type="checkbox"] {
    display: none;
} */

/* .hint-btn label {
    display: block;
    box-sizing: border-box;
    height: 16px;
    border: 1px solid #aaaaaa;
    border-radius: 15px;
} */

/* .hint-btn input[type="checkbox"]:checked +label {
    border-color: #61a9d0;
    background: #61a9d0;
} */

.hint-btn.button-on {
    border-color: #61a9d0; /* 選択タブの枠線     */
    background: #61a9d0;
}

.hint-btn .swImg {
    position: absolute;     /* 親要素からの相対位置*/
    width: 11px;  /* 丸の横幅    */
    height: 11px;  /* 丸の高さ    */
    background: #aaaaaa;      /* カーソルタブの背景 */
    top: 3px;   /* 親要素からの位置   */
    left: 3px;   /* 親要素からの位置   */
    border-radius: 26px;  /* 角丸 */
    transition: .5s;   /* 滑らか変化  */
}

/* .hint-btn input[type="checkbox"]:checked ~ .swImg {
    transform: translateX(18px);
    background: #fff;
} */

.hint-btn.button-on .swImg {
    transform: translateX(17px);    /* 丸も右へ移動       */
    background: #fff;             /* カーソルタブの背景 */
}